@page "/loginpage"
@inject HttpClient Http
@inject AuthService AuthService
@rendermode InteractiveServer

@if(!AuthService.IsLoggedIn)
{
    <EditForm Model="@loginModel" OnSubmit="HandleLoginSubmit" FormName="Product">
        <DataAnnotationsValidator />
        <div>
            <div>
                <label>Email:</label>
                <InputText @bind-Value="loginModel.Email" class="form-control" />
                <ValidationMessage For="@(() => loginModel.Email)" />
            </div>

            <div>
                <label>Password:</label>
                <InputText @bind-Value="loginModel.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => loginModel.Password)" />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </EditForm>
}
else
{
    <div>
        @if(editingCustomer == null)
        {
            <p>Firstname: @AuthService.LoggedInUser?.FirstName</p>
            <p>Lastname: @AuthService.LoggedInUser?.LastName</p>
            <p>Phonenumber: @AuthService.LoggedInUser?.PhoneNumber</p>
            <p>Email: @AuthService.LoggedInUser?.Email</p>
            <p>Adress: @AuthService.LoggedInUser?.Adress</p>
            <p>Password: *********</p>

            <button class="btn btn-warning" @onclick="() => startEditing()">Modify</button>
            <button class="btn btn-danger" @onclick="HandleLogout">Logout</button>
        }
        else
        {
            <h3>Edit Customer</h3>
            <EditForm Model="@editingCustomer" OnValidSubmit="UpdateCustomer" FormName="Product">
                <div>
                    <label>First Name:</label>
                    <InputText @bind-Value="editingCustomer.FirstName" class="form-control" />
                </div>
                <div>
                    <label>Last Name:</label>
                    <InputText @bind-Value="editingCustomer.LastName" class="form-control" />
                </div>
                <div>
                    <label>Email:</label>
                    <InputText @bind-Value="editingCustomer.Email" class="form-control" />
                </div>
                <div>
                    <label>Phone Number:</label>
                    <InputText @bind-Value="editingCustomer.PhoneNumber" class="form-control" />
                </div>
                <div>
                    <label>Adress:</label>
                    <InputText @bind-Value="editingCustomer.Adress" class="form-control" />
                </div>
                <div>
                    <label>Password:</label>
                    <InputText @bind-Value="editingCustomer.Password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-success">Save</button>
                <button class="btn btn-secondary" @onclick="CancelEditCustomer">Cancel</button>
            </EditForm>
        }
    </div>
}

<div>
    <h4> Admin : </h4>
    <p> Email: Admin </p>
    <p> Password: Admin </p>
</div>

@if(!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success mt-3">
        <pre>@successMessage</pre>
    </div>
}

@if(!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mt-3">
        <pre>@errorMessage</pre>
    </div>
}

@code {
    private string? successMessage;
    private string? errorMessage;
    private LoginModel loginModel = new();
    private bool isEditing = false;
    private Customer? editingCustomer;


    private async Task HandleLoginSubmit()
    {
        bool loginSuccess = await AuthService.Login(loginModel.Email, loginModel.Password);
        if(loginSuccess)
        {
            successMessage = "Login successful!";
            errorMessage = null;
            loginModel = new LoginModel();
        }
        else
        {
            errorMessage = "Invalid email or password.";
        }
    }

    private async Task HandleLogout()
    {
        await AuthService.Logout();
        successMessage = "Logged out successfully!";
        errorMessage = null;
        isEditing = false;
    }

    private async Task UpdateCustomer()
    {
        var response = await Http.PutAsJsonAsync($"https://localhost:7262/api/update/customer/{editingCustomer.Id}", editingCustomer);
        if(response.IsSuccessStatusCode)
        {
            successMessage = "Customer updated successfully!";
            editingCustomer = null;
        }
        else
        {
            errorMessage = "Failed to update customer.";
        }
    }
    private void CancelEditCustomer()
    {
        isEditing = false;
        editingCustomer = null;
    }
    private void startEditing()
    {
        isEditing = true;
        editingCustomer = AuthService.LoggedInUser;
    }
}
